<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/create" method="post">
      <h1>기사 등록</h1>
      <hr />
      <h3>기자 이름 :</h3>
      <input type="text" name="writer" />
      <h3>기자 제목 :</h3>
      <input type="text" name="title" />
      <h3>기자 본문 :</h3>
      <input type="text" name="body" />
      <div><input type="submit" value="새 글 등록" /></div>
    </form>
  </body>
</html>
