<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/create" method="post">
      <div>
        <span>이름: </span>
        <input type="text" name="name" />
      </div>
      <div>
        <span>전화번호: </span>
        <input type="text" name="phone" />
      </div>
      <div>
        <span>이메일: </span>
        <input type="text" name="email" />
      </div>
      <input type="submit" name="저장" />
    </form>
  </body>
</html>
